[submodule "task-web-workers-vitaliyburla"]
	path = sprint-5/task-web-workers-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint5/task-web-workers-vitaliyburla
[submodule "task-websockets-vitaliyburla"]
	path = sprint-5/task-websockets-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint5/task-websockets-vitaliyburla
[submodule "task-1-tools-npm-vitaliyburla"]
	path = sprint-6/task-1-tools-npm-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint6/task-1-tools-npm-vitaliyburla
[submodule "task-2-tools-typescript-vitaliyburla"]
	path = sprint-6/task-2-tools-typescript-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint6/task-2-tools-typescript-vitaliyburla
[submodule "task-3-tools-gulp-vitaliyburla"]
	path = sprint-6/task-3-tools-gulp-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint6/task-3-tools-gulp-vitaliyburla
[submodule "task-1-tools-babel-vitaliyburla"]
	path = sprint-7/task-1-tools-babel-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint7/task-1-tools-babel-vitaliyburla
[submodule "task-2-tools-webpack-vitaliyburla"]
	path = sprint-7/task-2-tools-webpack-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint7/task-2-tools-webpack-vitaliyburla
[submodule "task-3-tools-eslint-vitaliyburla"]
	path = sprint-7/task-3-tools-eslint-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint7/task-3-tools-eslint-vitaliyburla
[submodule "task-1-jsx-vitaliyburla"]
	path = sprint-8/task-1-jsx-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint8/task-1-jsx-vitaliyburla
[submodule "task-2-jsx-vitaliyburla"]
	path = sprint-8/task-2-jsx-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint8/task-2-jsx-vitaliyburla
[submodule "task-3-style-vitaliyburla"]
	path = sprint-8/task-3-style-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint8/task-3-style-vitaliyburla
[submodule "task-4-css-modules-vitaliyburla"]
	path = sprint-8/task-4-css-modules-vitaliyburla
	url = https://github.com/ita-react-marathon-sprint8/task-4-css-modules-vitaliyburla
